.zui-table {
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
}
.zui-table thead th {
    background-color: #DDEFEF;
    border: solid 1px #DDEEEE;
    color: #336B6B;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}
.zui-table tbody td {
    border: solid 1px #DDEEEE;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
}

a:link, a:visited, a:active {
    color: blue;
}
a:hover {
    color: navy;
}
.error, .alert, .notice, .success, .info {
  padding:0.8em;margin-bottom:1em;border:2px solid #ddd;
}
.error, .alert {
  background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4;
}
.notice {
  background:#fff6bf;color:#514721;border-color:#ffd324;
}
.success {
  background:#e6efc2;color:#264409;border-color:#c6d880;
}
.info {
  background:#d5edf8;color:#205791;border-color:#92cae4;
}
.error a, .alert a {
  color:#8a1f11;
}
.notice a {
  color:#514721;
}
.success a {
  color:#264409;
}
.info a {
  color:#205791;
}

.headclazz {
  background-color: #FFFFFF;
}

.headtitle {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 7px;
  border: none;
  font: normal 16px/1;
  color: black;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: #DDEFEF;
}